body {
    background-image: url('../static/sfainew.jpg'); /* Sostituisci con il tuo percorso */
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}
