<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domanda {{ numero + 1 }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Domanda {{ numero + 1 }}</h1>
    <form method="POST">
        <h3>{{ domanda }}</h3>
        <label>
            Risposta: <input type="text" name="answer">
        </label>
        <button type="submit">Invia Risposta</button>
    </form>
</body>
</html>
