<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="quiz-container">
        <h1>Quiz di Excel</h1>
        <form method="POST">
            {% for domanda in quiz %}
                <h2>{{ domanda.domanda }}</h2>
                {% for opzione in domanda.opzioni %}
                    <input type="radio" name="{{ domanda.domanda }}" value="{{ opzione }}" required>
                    <label>{{ opzione }}</label><br>
                {% endfor %}
                <br>
            {% endfor %}
            <button type="submit">Invia Risposte</button>
        </form>
    </div>
</body>
</html>
