<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Risultati</title>
</head>
<body>
    <div class="container">
        <h1>{{ domanda.domanda }}</h1>
        {% if risposta_corretta %}
            <p>Risposta corretta!</p>
        {% else %}
            <p>Risposta sbagliata. La risposta corretta è: {{ domanda.risposta_corretta }}</p>
        {% endif %}
        {% if gif %}
            <img src="{{ url_for('static', filename=gif) }}" alt="Gif">
        {% endif %}
        <a href="{{ url_for('next', domanda_id=request.form['domanda_id']) }}">Prossima domanda</a>
    </div>
</body>
</html>
